// Specific CSS for your home-page
.grid-container {

}

.card-holder {
  background-size: fit;
  margin-right: 16px;
}

img {
  width: 150px;
  height: 250px;
  object-fit: cover;
}

.hidden {
  opacity: 0%;
}

.complete {
  opacity: 0% !important;
}
