// Specific CSS for your home-page
h1 {
  text-align: center;
  margin-top: 24px;
}

h3 {
  text-align: center;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 650px;
  grid-gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card-holder {
  background-size: cover;
  margin-right: 16px;
  height: 188px;
  background-image: url('https://i.pinimg.com/originals/10/80/a4/1080a4bd1a33cec92019fab5efb3995d.png');
  border-radius: 8px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.hidden {
  opacity: 0%;
}

.complete {
  opacity: 0%;
}
