// Specific CSS for your home-page
.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  grid-gap: 16px;
}

.card-holder {
  background-size: fit;
  margin-right: 16px;
  height: 250px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  opacity: 0%;
}

.complete {
  opacity: 0% !important;
}
